.extracurriculars {
  display: grid;
  grid-template-columns: 60% 40%;
  height: 100vh;
  margin: 0;
  padding: 0;
}

.left-section {
  background-color: #fff8dc;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 2rem;
}

.right-section {
  position: relative;
  overflow: hidden;
}

.right-section::after {
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("/public/images/cactus.jpg");
  background-position: top 10px right 10px;
  background-size: 160%;
  background-repeat: no-repeat;
  opacity: 0;
  animation: fade-in-bg 1.5s ease-in-out forwards;
  z-index: 1;
}

@keyframes fade-in-bg {
  to {
    opacity: 1;
  }
}

.extracurriculars h2 {
  font-family: "Pacifico", sans-serif;
  color: #333;
  font-size: 3rem;
  letter-spacing: 0.2rem;
  margin: 0;
}
