/* General styles for the header section */
.header {
  background-image: url("/Users/alissaforde/alforde01.github.io/portfolio/public/images/arizona.JPG");
  background-size: 80%;
  background-repeat: no-repeat;
  display: grid;
  grid-template-columns: 80% 20%; /* West-side takes 80%, Navbar takes 20% */
  height: 100vh;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  overflow: hidden;
}

.header-title {
  font-family: "Barrio", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 10vw;
  margin: 0;
  text-align: left;
  position: absolute;
  top: 10px;
  left: 10px;
  color: #ffede3;
}

.header-subtitle {
  font-family: "fort", sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: 2rem;
  color: #ffede3;
  position: absolute;
}

/* Navbar styles */
nav {
  background-color: #ffede3;
  height: 100%; /* Full height of the header */
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

nav li {
  margin: 10px 0;
}

nav a {
  color: black;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

nav a:hover {
  text-decoration: underline;
  color: #6b7782;
}

.marquee {
  height: 40px;
  overflow: hidden;
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffede3;
  color: black;
  border: 1px solid #4a4a4a;
  display: flex;
  align-items: center;
}

.marquee-content {
  display: inline-block;
  white-space: nowrap;
  animation: scroll-left 80s linear infinite;
}

@keyframes scroll-left {
  0% {
    transform: translateX(100%); /* Start off-screen to the right */
  }
  100% {
    transform: translateX(-100%); /* Move off-screen to the left */
  }
}

/* Media queries for responsiveness */
@media (max-width: 768px) {
  .header-title {
    font-size: 8vw; /* Increase font size for smaller screens */
    letter-spacing: 1vw; /* Adjust letter spacing */
    bottom: 10%; /* Move the title further up */
    left: 10%; /* Add more space from the left edge */
  }
}

@media (max-width: 480px) {
  .header-title {
    font-size: 10vw;
    letter-spacing: 1.5vw;
    bottom: 15%;
    left: 15%;
  }
}
